.accountShell {
  min-height: 85vh;
  display: grid;
  width: 100%;
  grid-template-columns: 12rem 1fr;
}

.content {
  padding: 2rem;
}

@media (max-width: 900px) {
  .accountShell {
    grid-template-columns: 1fr;
  }
}